@import "@/styles/mixins.scss";
@import "@/styles/tokens.scss";

.chip {
  @include flex(row, nowrap, center, center);
  gap: 6px;
  height: 32px;
  padding: 0 $spacing-medium;
  background: $color-bg-chip;
  color: $color-primary;
  @include border-radius($radius-large);
  @include typography($font-size-medium, $font-weight-semibold);
  transition: background 0.2s ease;

  .remove {
    width: 18px;
    height: 18px;
    @include flex;
    justify-content: space-evenly;
    background: $color-primary-chip-remove;
    color: $color-primary;
    @include typography(14px, bold);
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.2s;

    &:hover {
      background: $color-primary-remove-hover;
    }
  }
}
